.sidebar {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: var(--sidebar-width);
	height: calc(100vh - var(--navbar-height));
	background-color: var(--inverted-bg-color);
	transition: width var(--transition);
}

.menu {
	display: flex;
	flex-direction: column;
	grid-gap: 20px;
	padding: 20px 0;
}

.menuLink {
	display: flex;
	align-items: center;
	grid-gap: 10px;
	height: 25px;
}

.menuText {
	transition: opacity var(--transition), width var(--transition);
}

.menuIcon {
	path {
		fill: var(--inverted-primary-color);
	}
}

.switchers {
	display: flex;
	flex-direction: column;
	grid-gap: 10px;
	margin-top: auto;
	padding-bottom: 20px;
}

.collapsed {
	width: var(--sidebar-width-collapdes);

	.menuText {
		width: 0;
		opacity: 0;
	}
}

.collapsedBtn {
	position: absolute;
	right: -64px;
	bottom: 64px;
}
