.navbar {
	width: 100%;
	height: var(--navbar-height);
	background-color: var(--inverted-bg-color);
	display: flex;
	align-items: center;
	padding: 20px;
}

.links {
	display: flex;
	grid-gap: 15px;
	margin-left: auto;
}

.login {
	margin-left: auto;
}
